[View in Colaboratory](https://colab.research.google.com/github/savvyjain/daily-challenges-easy/blob/master/roman_arabic.ipynb)

## Challenge
Write a program to convert to (and from) roman numerals. So your program should be able to take the input of 27 and return XXVII, and take MCMLXXXI and return 1981. And of course any other values. 

The program must work for all numbers between the upper bound of 4000 and the lower bound of 0 (both non-inclusive)

In [0]:
import pandas as pd

In [0]:
symbol = ["I", "V", "X", "L", "C", "D", "M", "V`", "X`", 'L`', 'C`']
value =  [1, 5, 10, 50, 100, 500, 1000, 5000, 10000, 50000, 100000, 500000]

romans = {}
for i in range(len(symbol)):
    romans[value[i]] = symbol[i]

ref_df = pd.DataFrame(list(zip(symbol, value)), columns=['Symbols', 'Values'])

In [0]:
ref_df

   Symbols  Values
0        I       1
1        V       5
2        X      10
3        L      50
4        C     100
5        D     500
6        M    1000
7       V`    5000
8       X`   10000
9       L`   50000
10      C`  100000

In [0]:
# Defining place values, to get the numeric potential of a number
def get_place_value(number):
    z =[]
    
    len_nn = len(nn)
    for num in nn:
        a = 0
        a = str(num) + ('*'+ str(1) + '0'*(len_nn -1) )
        z.append(a.split('*'))
        len_nn -=1
    return z

# Calculating positions and number of occurances for each character of roman numeral
def get_helper(place_value):
    for lst in place_value:
        for i in range(len(lst)):
            lst[i] = int(lst[i])
        val = int(lst[0])
        k = 0
        if val <= 3:
            val = val
        if val == 4:
            val = -1
            lst[1] = 5*lst[1]
        if val == 9:
            val = -1
            lst[1] = lst[1]*10
        if val == 5:
            val == 0
            lst[1] = 5*lst[1]
        if val > 5 and val < 9:
            val = val - 5
            lst[1] = 5*lst[1]
        lst.append(val)
    return place_value

In [0]:
# Checking for occurance of multiple of 5
def check_5(romans, v1, v2):
    if str(v1)[0]!='5':
        a = v1/10
        k = str(str(romans[a])*abs(v2) + romans[v1])
    else:
        a = v1/5
        k = str(str(romans[a])*abs(v2) + romans[v1])
    return k

In [0]:
# Getting the roman counterpart of a given number
def  get_roman(number):
    final = []
    for value in number:
        k=0
        if value[2]<0:
            k = check_5(romans, value[1], value[2]) 
        if value[2]>0 and value[2]<4:
            if str(value[1])[0]!='5': 
                k = str(romans[value[1]]*int(value[2]))
            if str(value[1])[0]=='5':
                a = value[1]//5
                k = str(romans[value[1]]) + str(romans.get(a)*int(value[2]))
        if value[2]==0:
            k = ''
        if value[2] == 5:
            k = str(romans[value[1]])
        final.append(k)
    roman_num = ''.join(final)
    return roman_num

In [0]:
# Decent number < 399999

input_num = input("Write a decent number : ")
if int(input_num) > 0 and int(input_num) < 399999:
    nn = [int(i) for i in str(input_num)]
    place_value = get_place_value(nn)
    number = get_helper(place_value)
    roman_number = get_roman(number)
    print(roman_number)
else: 
    print("I asked you to enter a decent number. Now rerun with a decent number")

Write a decent number : 93
XCIII